body {
    margin: 0;
    padding: 0;
}

#calculator {
    display: grid;
    width: 30%;
    grid-template-areas: 
        'display display display display display'
        'digits digits digits operators actions'
        'digits digits digits operators actions'
        'digits digits digits operators actions'
        'digits digits digits operators actions';
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    border: solid thin;
}

.display {
    grid-area: display;
    display: flex;
}

.calc-display {
    flex-grow: 1;
    height: 2rem;
}

.digits {
    grid-area: digits;
    display: flex;
    flex-wrap: wrap;
}

.operators {
    grid-area: operators;
    display: flex;
    flex-wrap: wrap;
}

.actions {
    grid-area: actions;
    display: flex;
    flex-wrap: wrap;
}

.digit, .operator, .action {
    flex-grow: 1;
}

button.digit {
    width: 33%;
}

button#back, #clear {
    width: 50%;
}

button.operator, #equals {
    width: 100%;
}